@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
}

.container {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--White);
}

@media screen and (min-width: 1440px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 500px;
    flex-direction: row;
    align-items: normal;
    border-radius: 32px;
    box-shadow: 10px 10px 30px hsla(241, 100%, 89%, 0.329);
}
}

.score-container {
  width: 100%;
  height: 45%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.score-title {
  font-size: 1.8rem;
  color: var(--Light-lavender);
}

.score-circle {
  width: 125px;
  height: 125px;
  background-image: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-grade-number {
  font-size: 5rem;
  color: var(--White);
  font-weight: 800;
}

.score-grade-total {
  font-size: 1.6rem;
  color: var(--Light-lavender);
  font-weight: 500;
  opacity: 0.75;
}

.score-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.score-judgement {
  font-size: 2.8rem;
  color: var(--White);
}

.score-grade-observation {
  font-size: 1.8rem;
  color: var(--Light-lavender);
}

@media screen and (min-width: 1440px) {
  .score-container {
    width: 50%;
    height: 100%;
    border-radius: 32px;
  }
  .score-circle {
    width: 180px;
    height: 180px;
  }
  .score-grade-number {
    font-size: 6.5rem;
  }
  .score-grade-observation {
    text-align: center;
  }
  .score-title {
    font-size: 2.2rem;
  }
}

.summary-container {
  width: 100%;
  height: calc(100% - 45%);
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.summary-cards-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.summary-title {
  font-size: 1.8rem;
  color: var(--Dark-gray-blue);
}

.summary-card-container {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.6rem;
}

.summary-area-card-title {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.summary-total-grade {
  color: var(--Dark-gray-blue);
  opacity: 0.7;
}

@media screen and (min-width: 1440px) {
  .summary-container {
    width: 50%;
    height: 100%;
    padding: 0 50px;
  }
  .summary-title {
    font-size: 2.2rem;
  }
  .summary-card-container {
    font-size: 1.8rem;
  }
}

.continue-button {
  padding: 18px;
  background-color: var(--Dark-gray-blue);
  border-radius: 25px;
  border: none;
}

.continue-button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
}

.button-text {
  font-weight: 700;
  color: var(--White);
  font-size: 1.6rem;
}

.title-red {
  color: var(--Light-red);
}

.title-yellow {
  color: var(--Orangey-yellow);
}

.title-green {
  color: var(--Green-teal);
}

.title-blue {
  color: var(--Cobalt-blue);
}

.bg-red {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.bg-yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.bg-green {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.bg-blue {
  background-color: hsla(234, 85%, 45%, 0.1);
}
