@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Cream);
}

article {
  width: 350px;
  height: 70%;
  max-height: 580px;
  background-color: var(--White);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  height: 70%;
  padding: 5.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-product {
  width: 100%;
  height: 45%;
  background-image: url("./images/image-product-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.category {
  color: var(--Grey);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product-name {
  color: var(--Black);
  font-size: 2.8rem;
  font-weight: 700;
}

.product-description {
  color: var(--Grey);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.45em;
  word-spacing: 0.15em;
}

.area-product-price {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-sale-price {
  color: var(--Green-500);
  font-size: 2.8rem;
  font-weight: 700;
}

.product-original-price {
  color: var(--Grey);
  font-size: 1.4rem;
  text-decoration: line-through;
  font-weight: 500;
}

.cart-button {
  width: 100%;
  height: 47.5px;
  background-color: var(--Green-500);
  color: var(--White);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-button:hover {
  cursor: pointer;
  background-color: var(--Green-700);
}

@media screen and (min-width: 1440px) {
  .image-product {
    width: 50%;
    height: 100%;
    background-image: url("./images/image-product-desktop.jpg");
    object-fit: cover;
    background-size: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0px;
  }
  article {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  section {
    width: 50%;
    height: 100%;
    padding: 5%;
  }
  .category {
    font-size: 1.6rem;
  }
  .product-name {
    font-size: 4rem;
  }
  .product-description {
    font-size: 1.7rem;
  }
  .cart-button {
    height: 55px;
  }
}
